$bg-header: #f3f3f3;
.userCardContainer{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 0 2rem;

}

h1, h2{
    text-align: center;
    margin: 3rem 0;
}

.logTable{
    margin: 2rem auto;
    width: 80%;
    border-collapse: separate;
    border-spacing: 0 1rem;

    
    th {
        padding: 0.75rem 1rem;
        font-weight: 600;
        color: aqua;
        text-align: left;
    }
    tbody{
        tr{
            background-color: whitesmoke;
            td{
                padding: 0.75rem 1rem;
                color: black;
                text-align: left;
            }
        }
    }
  }