$bg-header: #f3f3f3;
.userCardContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin: 1rem auto;
    width: 80%;
    padding-bottom: 1rem;
}

h1, h2{
    text-align: center;
}

.logTable{
    margin: 0.5rem auto;
    width: 80%;
    border-collapse: separate;
    border-spacing: 0 1rem;

    
    th {
        padding: 0.01rem 1rem;
        font-weight: 600;
        color: rgb(0, 0, 0);
        text-align: left;
    }
    tbody{
        tr{
            background-color: whitesmoke;
            td{
                padding: 0.75rem 1rem;
                color: black;
                text-align: left;
            }
        }
    }
}