@use "colors";

.userProfile{
    display: flex;
    gap: 2rem;  
    padding: 2rem;
}

.infoBox{
    max-width: 500px;
}

article {
  border: 1px solid colors.$secondary;
  padding: 1rem;
  max-width: 100%;
  box-sizing: border-box;

  img {
    max-width: 400px;       
    height: auto;     
    display: block;

  }

  a {
    color: colors.$primary;
    text-decoration: none;
  }
}