@use "colors";

.userCard {
  border: 1px solid colors.$secondary;
  padding: 3rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  > a:first-of-type {
    color: inherit;
    text-decoration: none;
    display: block;
    margin-bottom: 0.5rem;

    img {
      display: block;
      width: 200px;
      height: 200px;
      object-fit: cover;
      object-position: center;
      margin: 0 auto 0.5rem auto;
    }

    h3 {
      margin: 0;
      font-size: 1.1rem;
    }
  }

  > a[href^="mailto:"] {
    color: colors.$primary;
    text-decoration: none;
    font-size: 0.9rem;
    word-break: break-all;
  }
}